.float {
   position: fixed;
   width: 60px;
   height: 60px;
   bottom: 40px;
   right: 40px;
   background-image: linear-gradient(35deg, #d83a56 10%, #ff616d 90%);
   color: #fff;
   border-radius: 50px;
   text-align: center;
   box-shadow: 2px 2px 3px #999;
}

.my-float {
   margin-top: 22px;
   font-size: 20px;
   line-height: 0.8;
   letter-spacing: -0.015em;
   font-weight: 900;
   font-style: normal;
}
